<header>
  <a id="header-logo" href="{{ "/" | relative_url }}">
    <img alt="W" src="{{ "/assets/logo.png" | relative_url }}"/>
  </a>
  <div id="header-text">
    <span>Hello, you've reached the personal website of <strong>Simon Worthington</strong>, sometimes called <strong>Wo! Net</strong>.</span>
    <span>You can contact me <i class="fa fa-envelope-o"></i> <a href="/web/20160322060352/http://simonwo.net/mail.php">via e-mail.</a></span>
    <span>You may like to browse <i class="fa fa-lock"></i> <a class="no-ext-icon ext-link" href="/web/20160322060352/https://www.simonwo.net/" rel="external" title="">using encryption.</a></span>
 </div>
</header>
