nav {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  section {
    &.featured {
      @media screen and (min-width: 500px) {
        grid-row: 1;
      }

      @media screen and (max-width: 500px) {
        grid-column: 1 / 5;
      }
    }

    &:not(.featured) {
      grid-column: 1 / 5;

      img {
        max-height: 3em !important;
        min-height: unset;
        float: left;
        margin-right: 10px;
      }
    }

    &.big a {
      font-size: 165%;

      @media screen and (min-width: 500px) {
        margin-bottom: 10px;
      }
    }

    a {
      font-weight: bold;
      display: block;
    }

    img {
      max-width: 100%;
      min-height: 105px;

      @media screen and (max-width: 500px) {
        max-width: 120px !important;
        float: left;
        margin-right: 10px;
      }
    }
  }
}
