header#search {
  display: flex;
  column-gap: 1ch;

  &, * {
    font-size: 14pt;
    font-family: inherit;
  }

  input {
    width: 100%;
    padding-bottom: 0;
    border: 0;
  }

  &::before {
    content: "🔎\FE0E";
    margin-left: 0.5ch;
  }

  &[data-results="0"] {
    background-color: #CC2F2F;

    &::before, * {
      background-color: inherit;
      color: white;
    }
  }
}

#search[data-results] ~ nav section {
  &.result {
    box-shadow: 0 0 10px 0 white;
  }

  &:not(.result) {
    box-shadow: none;
    opacity: 0.5;
  }
}
